html {
  font-size: 2rem;
  font-family: sans-serif;
}

header {
  background-color: #444;
  height: 100px;
}
main > img {
  margin: 30px;
  width: 960px;
}

li > img {
  width: 300px;
  height: 375px;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

main > ul {
  width: 960px;
  margin-bottom: 30px;
}

header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p {
  overflow: auto;
  height: 313px;
}

button {
  transition: 0.33s;
}

button:hover {
  background-color: green;
}

a {
  text-decoration: none;
  color: #888;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
li:last-child {
  margin-right: 30px;
  margin-left: 30px;
}
li:first-child {
  margin-left: 30px;
  margin-right: 30px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main > ul {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

section {
  display: flex;
  width: 960px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  height: 400px;
}
article {
  height: 400px;
}
section > img {
  width: 480px;
  height: 400px;
  margin-right: 30px;
}


footer {
  margin-top: 30px;
  width: 100%;
  background-color: #444;
  height: 200px;
}

button {
  background-color: black;
  color: white;
  border-radius: 0;
  height: 50px;
  width: 200px;
  font-size: .6rem;
}
